*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultsbox{
    height: 400px;
    width: 600px;
    background-color: rgb(51,57,62);
    margin-top: 100px;
    color: whitesmoke;
}

#homebut{
    color: rgb(124, 136, 146);
}

.difcolor{
    color: rgb(252,190,11);
}

h1{
    color: rgb(252,190,11);
}

.robot{
    color: whitesmoke;
}