*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reg_box{
    height: 85vh;
    width: 31%;
    padding: 25px;
    color: rgb(180, 180, 180);
    background-color: rgb(4, 56, 98);
}

#login_box{
    height: 85vh;
    width: 31%;
    padding: 25px;
    color: rgb(180, 180, 180);
    background-color: rgb(4, 56, 98);    
}